{% extends "base.html" %}

{% block body_block %}

<div class="jumbotron">

    <h2>Loan Evaluation Details</h2>

    <p><b>Applicant Income:</b> {{ data_income }}</p>
    <p><b>Coapplicant Income:</b> {{ data_co_income }}</p>
    <p><b>Loan Amount:</b> {{ data_loan_amt }}</p>
    <p><b>Loan Term:</b> {{ data_loan_term }}</p>
    <p><b>Credit History:</b> {{ data_credit_history }}</p>
    <p><b>Gender:</b> {{ data_gender }}</p>
    <p><b>Education:</b> {{ data_education }}</p>
    <p><b>Married:</b> {{ data_married }}</p>
    <p><b>Dependents:</b> {{ data_dependents }}</p>
    <p><b>Property Area:</b> {{ data_area }}</p>

    <hr>

    <h2>
        Loan Status:
        {% if prediction == 1 or prediction == 'Y' %}
            ✅ Approved
        {% else %}
            ❌ Rejected
        {% endif %}
    </h2>

    <h3>
        Approval Probability:
        {% if probability is not None %}
            {{ probability|floatformat:2 }} %
        {% else %}
            ⚠️ Not Available
        {% endif %}
    </h3>

</div>
<h3>Approval Probability: {{ probability|floatformat:2 }} %</h3>

<div style="width: 300px; background-color: #eee; border-radius: 10px;">
    <div style="
        width: {{ probability }}%;
        background-color: {% if probability > 50 %}green{% else %}red{% endif %};
        color: white;
        padding: 5px;
        border-radius: 10px;
        text-align: center;">
        {{ probability }}%
    </div>
</div>
{% endblock %}
